@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.index-slogan h1 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    background-color: rgba(61, 75, 59, 0.5);
    padding: 1rem;
}

.index-photo-container {
    height: 75vh;
    background: url("../images/indexcoverphoto.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(132, 156, 135, 0.85); 
}

.index-features-container {
    background-color: rgba(132, 156, 135, 0.85);
    color: black
}

.features-heading {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    text-transform: uppercase;
}

.index-events-list {
     list-style-type: none;
     padding: 0;
}

.feature-buttons {
    border-radius: 15px;
    background-color: whitesmoke;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

footer {
    background-color: #343a40;
    color: whitesmoke;
    padding: 1rem
}

.footer-heading {
    font-family: 'Roboto Mono', monospace;
}

.footer-text {
    font-size: 12px;
}

.social-links li a i {
    padding: 6px;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: whitesmoke;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: rgba(132, 156, 135, 0.85);
}