@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.index-slogan h1 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    background-color: rgba(61, 75, 59, 0.5);
    padding: 1rem;
}

.index-photo-container {
    height: 75vh;
    background: url("../images/indexcoverphoto.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white; 
}

.index-features-wrapper {
    background-color: rgba(132, 156, 135, 0.85);
    color: #343a40;
}

.features-heading {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    text-transform: uppercase;
}

.index-events-list {
     list-style-type: none;
     padding: 0;
}

.feature-buttons {
    border-radius: 15px;
    background-color: whitesmoke;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(132, 156, 135, 0.85);
}

footer {
    background-color: #343a40;
    color: whitesmoke;
    padding: 1rem
}

.footer-heading {
    font-family: 'Roboto Mono', monospace;
}

.footer-text {
    font-size: 12px;
}

.social-links li a i {
    padding: 6px;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: whitesmoke;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: rgba(132, 156, 135, 0.85);
}

.card-events {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c7cec8;
    color: #343a40;
}

.events-image-container {
    height: 50vh;
    background: url("../images/events-bg-image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.events-container {
    background-color: rgba(132, 156, 135, 0.85)
}

.card-dates {
    font-family: 'Roboto Mono', monospace;
}

.bookings-form-section {
    background: url(../images/bookings-image.jpg) no-repeat center top fixed;
    background-size: cover;
    height: 120vh;
}

.bookings-lead {
    color: whitesmoke;
    background-color: rgba(61, 75, 59, 0.5);
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bookings-lead h2 {
    font-family: 'Roboto Mono', monospace;
}

.bookings-lead hr, .bookings-form hr  {
    background-color: lightgray;
}

.bookings-form {
    color: whitesmoke;
    background-color: rgba(61, 75, 59, 0.5);
    padding: 2rem;
    margin-bottom: 30px;
}

.bookings-form h4 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.form-group input, select, textarea {
    background: lightgray;
    color: whitesmoke;
}

.book-button {
    color: whitesmoke;
    background-color: #842727;
    border-color: #842727;
    border-radius: 20px;
    
}